# ─────────────────────────────
# 🌐 Common project ignores
# ─────────────────────────────
node_modules/
*.exe
*.out
*.log
.DS_Store
*.tmp
*.bak

# ─────────────────────────────
# 💻 VS Code local configs
# ─────────────────────────────
.vscode/*

# Keep shared files (like extensions/settings)
!.vscode/settings.json
!.vscode/extensions.json