# ─────────────────────────────
# 🌐 Common project ignores
# ─────────────────────────────
node_modules/
*.exe
*.out
*.log
.DS_Store
*.tmp
*.bak
*.txt

# ─────────────────────────────
# 💻 VS Code local configs
# ─────────────────────────────
.vscode/*

# Keep shared files (like extensions/settings)
!.vscode/settings.json
!.vscode/extensions.json
.vscode/c_cpp_properties.json
input.txt
output.txt
*.txt